* { padding: 0; margin: 0; box-sizing: border-box; }

:root {
    --main-color: #c40000;

    /* principal */
    --primary-color: #0F0E0E;
    --secondary-color: #f6f6f6;
    --third-color: #3a3838;

    --primary-text-color: #f6f6f6;
    --secondary-text-color: #ffffff;

    /* Colors */
    --white: #ffffff;
    --black: #0F0E0E;
    --gray: #3a3838;
    --light-gray: #f6f6f6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .3s;
}

body::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
}

button {
    cursor: pointer;
}

nav {
    background-color: var(--main-color);
    padding: .25rem 1rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: .5s;
}

nav > div {
    flex: 1;
    display: flex;
}

footer {
    margin-top: 3rem;
    min-height: 3rem;
    width: 100%;
    background: var(--main-color);
    padding: 1rem .5rem;
    color: #fff;
    text-align: center;
    transition: .5s;
}

#myName {
    font-weight: lighter;
    color: #fff;
}

#settings {
    justify-content: flex-end;
}

#settings > button {
    background: transparent;
    border: none;
    color: var(--primary-color);
    transition: 0.25s;
    padding: .25rem;
    font-size: 1.1rem;
}

#settings > button:hover {
    transform: scale(105%);
}

main {
    width: 75%;
    margin: 0 auto;
    flex: 1;
}

main section {
    margin-top: 2rem;
}

main section + section {
    margin-top: 3.5rem;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#character {
    float: left;
    margin-right: 1rem;
}

#menu {
    background: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    max-width: 500px;
    min-width: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-left: 0 solid var(--secondary-color);
    color: var(--primary-text-color);
    font-size: 1.15rem;
    overflow: hidden;
    transition: 1s;
}

#menu.open {
    width: 75vw;
    min-width: 250px;
    border-width: 1px;
}

#menu > div {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

#menu > div:first-child {
    margin-left: .75rem;
}

#menu > div select {
    margin-top: .25rem;
    border-radius: .25rem;
    padding: .5rem .25rem;
    cursor: pointer;
}

#principalColor {
    margin-top: 2rem;
}

#principalColor > div {
    display: flex;
    flex-direction: row;
    margin-top: .25rem;
}

#principalColor > div > button {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--primary-text-color);
    display: grid;
    place-items: center;
    background: transparent;
    position: relative;
    transition: .3s;
}

#principalColor > div > button::after {
    content: "";
    position: absolute;
    border-right: 2px solid  var(--primary-text-color);
    border-bottom: 2px solid  var(--primary-text-color);
    width: .5rem;
    aspect-ratio: 1/2;
    transform: rotate(35deg) scale(0);
    top: 15%;
    transition: .3s;
}

#principalColor > div > button.selected::after {
    transform: rotate(35deg) scale(100%);
}

#principalColor > div > button + button {
    margin-left: .5rem;
}

#principalColor > div > button:hover {
    transform: scale(105%);
}

#principalColor button > div {
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#principalColor button.selected > div {
    filter: brightness(75%);
}

#menu #darkMode {
    flex-direction: row;
}

#menu #darkMode label {
    margin-left: .75rem;
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
}

#menu #darkMode label input {
    visibility: hidden;
    position: absolute;
    height: 0;
}

#menu #darkMode label div {
    height: 1.75rem;
    aspect-ratio: 2/1;
    border-radius: 2rem;
    background-color: var(--main-color);
    transition: .5s;
}

#menu #darkMode label div::before {
    content: "";
    position: absolute;
    height: 1.25rem;
    top: .25rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: .3s;
}

#menu #darkMode label input:checked + div::before {
    left: 1.75rem;
}

#menu #darkMode label input:not(:checked) + div::before {
    left: .25rem;
}

#light > div > div:first-child {
    background: var(--main-color);
}

#closeModal {
    background: transparent;
    width: 2rem;
    aspect-ratio: 1/1;
    border: none;
    font-size: 1.25rem;
    color: var(--primary-text-color);
    transition: .3s;
}

#closeModal:hover {
    transform: scale(110%);
}

#myDescription {
    text-align: justify;
}

#technologiesTitle {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

#technologiesTitle img {
    height: 2.5rem;
    margin-top: .3rem;
}

#technologiesTitle .title {
    margin-left: 1rem;
    margin-right: 1rem;
}

#technologies > div {
    display: none;
    flex-direction: column;
    flex: 1;
}

#technologies > .show {
    display: flex;
}

#technologies #carousel > #imagesDiv {
    display: flex;
    margin: 0 2rem;
}

#technologies #carousel > #imagesDiv  > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies #carousel > #imagesDiv button {
    background: transparent;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: .25rem;
    border: 1px solid var(--primary-text-color);
    font-size: 1rem;
    transition: .3s;
    color: var(--primary-text-color);
}

#technologies #carousel > #imagesDiv button:hover {
    transform: scale(105%);
    background: rgb(80, 80, 80, .1);
}

#technologies #carousel > #imagesDiv #images {
    flex: 1;
    height: 10rem;
    position: relative;
    overflow: hidden;
}

#technologies #carousel > #imagesDiv #images img {
    height: 100%;
    position: absolute;
    left: 150%;
    transform: translateX(-50%);
    transition: .75s;
}

#technologies #carousel #techDescriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .75rem;
    font-size: 1.2rem;
}

#technologies #carousel #techDescriptions p {
    text-align: center;
}

#technologies #carousel #techDescriptions > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

#technologies #carousel #techDescriptions > div span {
    margin-right: .5rem;
}

#technologies #carousel #techDescriptions > div > div {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0 .2rem;
}

#technologies #carousel #techDescriptions > div > div img {
    height: 1.75rem;
    aspect-ratio: 1/1;
    margin: 0 .25rem;
    transition: .75s;
}

#technologies #carousel #techDescriptions > div > div img:last-child {
    position: absolute;
    height: 4rem;
    transform: rotate(300deg);
    filter: opacity(0);
    transition: 0.75s;
}

#technologies #carousel #techDescriptions > div > div img.show:last-child {
    height: 2.25rem;
    transform: rotate(0);
    filter: opacity(1);
}

#technologies #carousel #buttons {
    display: flex;
    overflow: auto;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    margin: 1rem auto 0;
    padding-bottom: .25rem;
}

/* width */
#technologies #carousel #buttons::-webkit-scrollbar {
    height: 6px;
}

#technologies #carousel #buttons button {
    background: transparent;
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
    height: 1rem;
    aspect-ratio: 1/1;
    margin: 0 .25rem;
    display: grid;
    place-items: center;
}

#technologies #carousel #buttons button div {
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--main-color);
    transform: scale(0);
    transition: .5s;
}

#technologies #carousel #buttons button.active div {
    transform: scale(100%);
}

#technologies #list #description {
    display: flex;
    font-size: 1.25rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid var(--secondary-color);
}

#technologies #list #description > span {
    flex: 1;
}

#technologies #list #description > span:first-child {
    margin-left: 4rem;
}

#technologies #list #description > span:last-child {
    text-align: end;
    margin-right: 3.5rem;
}

#technologies #list #techs {
    display: flex;
    flex-direction: column;
}

#technologies #list #techs > div {
    display: flex;
    position: relative;
    margin-top: .75rem;
    padding-bottom: .75rem;
    align-items: center;
}

#technologies #list #techs > div::after {
    content: "";
    display: flex;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, transparent, var(--secondary-color), transparent);
}

#technologies #list #techs > div img {
    width: 2rem;
    margin: 0 .5rem;
}

#technologies #list #techs > div > span {
    margin: auto 1rem;
    font-size: 1.1rem;
}

#technologies #list #techs > div > div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2.5rem;
}

#portfolio {
    width: 100%;
    padding: .25rem 2rem;
}

#portfolio .project {
    width: 100%;
    padding: .25rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--secondary-color);
    display: flex;
    position: relative;
}

#portfolio .project + .project {
    margin-top: 1.5rem;
}

#portfolio .project > button:last-child {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(1rem, -.75rem);
    padding: .5rem .75rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.1rem;
    transition: .3s;
}

#portfolio .project > button:last-child:hover {
    transform: translate(1rem, -.75rem) scale(110%);
}

#portfolio .project > div:first-child {
    padding: .25rem;
    height: 10rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .project > div:first-child > img {
    max-height: 100%;
    max-width: 100%;
}

#portfolio .project > div:last-of-type {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

#portfolio .project > div:last-of-type > p:first-child {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

#portfolio .project .project-technologies {
    display: flex;
    flex: 1;
    align-items: flex-end;
    font-size: 1rem !important;
    gap: .75rem;
}

#portfolio .project .project-technologies p:first-child {
    font-weight: bold;
}

#socialmedia {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#socialmedia a {
    position: relative;
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
    transition: .3s;
}

#socialmedia > a:hover {
    transform: scale(110%);
}

#socialmedia a span {
    text-decoration: none;
    z-index: 1;
}

#socialmedia a span svg {
    font-size: 3.5rem !important;
    color: var(--secondary-color) !important;
}

#socialmedia a:before
{
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    position: relative;
    top: 0;
    left: 0;
    font-size: 3.5rem !important;
    display: none;
}

svg[data-fa-pseudo-element=":before"]
{
    height: 3.5rem;
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    transition: 0.5s;
    clip: rect(0, 10rem, 0, 0);
}

#socialmedia a:hover > svg[data-fa-pseudo-element=":before"]
{
    clip: rect(0, 10rem, 6rem, 0);
    height: 3.5rem;
}

.instagram::before
{
    content: "\f16d";
}

.linkedin::before
{
    content: "\f08c";
}

.google::before
{
    content: "\f1a0";
}

.github::before
{
    content: "\f09b";
}

svg[data-fa-pseudo-element=":before"]
{
    color: var(--main-color);
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .5);
    display: grid;
    place-items: center;
    filter: opacity(0);
    z-index: -1;
    transition: .3s;
}

#modal.show {
    z-index: 3;
    filter: opacity(100%);
}

#modal > div {
    height: 80%;
    width: 75%;
    border-radius: .5rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 4px 1px var(--secondary-color);
    display: flex;
    flex-direction: column;
}

#modal > div #close-modal {
    display: flex;
    justify-content: flex-end;
}

#modal > div #close-modal button {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    background: transparent;
    color: var(--primary-text-color);
    border: none;
    transition: .25s;
}

#modal > div #close-modal button:hover {
    transform: scale(110%);
}

@media screen and (max-width: 500px) {
    main {
        width: 90%;
    }

    .title {
        font-size: 1.5rem;
    }

    #technologiesTitle img {
        height: 1.75rem;
    }

    #socialmedia a {
        margin: 0 .5rem;
    }

    #technologies #list #techs > div img {
        width: 1.25rem;
        margin: 0 .25rem;
    }

    #technologies #list #techs > div > span {
        font-size: 1rem;
    }

    #technologies #list #description {
        font-size: 1.1rem;
    }

    #technologies #list #description > span:first-child {
        margin-left: 2.5rem;
    }

    #technologies #list #description > span:last-child {
        margin-right: 1.75rem;
    }
}


@media screen and (max-width: 420px) {
    #menu.open {
        width: 100vw;
    }
}