* { padding: 0; margin: 0; box-sizing: border-box; }

:root {
    --main-color: red;
    --second-color: #ffffff;
}

body {
    display: flex;
}

#game {
    width: 100vw;
    height: 80vh;
    max-height: 1080px;
    min-height: 492px;
    max-width: 1980px;
    min-width: 700px;
}

#game canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

body header {
    background-color: var(--main-color);
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

body header div {
    
}

body header div button {
    background: transparent;
    border: 1px solid var(--second-color);
    border-radius: .25rem;
    color: var(--second-color);
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: .25s;
}

body header div button:hover {
    background: var(--second-color);
    color: var(--main-color);
    transform: scale(105%);
}